<!-- Start Landing Page -->

<div class="landing-page">

    <div class="container">

        <div class="info">

            <h1>Civil Engeering Departement</h1>
            <p>The Department of Civil Engineering started in September 1996. It brings together teachers and specialist
                equipment, fully available to students preparing for an L.A.GC (License Applied in Civil Engineering).
            </p>





        </div>
        <div class="image">
            <img src="assets/it.png">
        </div>
        <div class="clearfix"></div>

    </div>

</div>

<body>
    <div class="content-boxs">
        <a href="#" class="content-box">
            <div class="background"></div>
            <div class="foreground">
                <div class="content-icon">
                    <i class="fa-solid fa-computer icona" aria-hidden="true"></i>
                </div>
                <div class="content-info">
                    <h4 class="content-title">What is Lorem Ipsum?</h4>
                    <div class="content-desc">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </div>

                </div>
            </div>
        </a>

        <a href="#" class="content-box">
            <div class="background"></div>
            <div class="foreground">
                <div class="content-icon">
                    <i class="fa-solid fa-computer icona" aria-hidden="true"></i>
                </div>
                <div class="content-info">
                    <h4 class="content-title">What is Lorem Ipsum?</h4>
                    <div class="content-desc">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </div>

                </div>
            </div>
        </a>

        <a href="#" class="content-box">
            <div class="background"></div>
            <div class="foreground">
                <div class="content-icon">
                    <i class="fa-solid fa-computer icona" aria-hidden="true"></i>
                </div>
                <div class="content-info">
                    <h4 class="content-title">What is Lorem Ipsum?</h4>
                    <div class="content-desc">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </div>

                </div>
            </div>
        </a>

        <a href="#" class="content-box">
            <div class="background"></div>
            <div class="foreground">
                <div class="content-icon">
                    <i class="fa-solid fa-computer icona" aria-hidden="true"></i>
                </div>
                <div class="content-info">
                    <h4 class="content-title">What is Lorem Ipsum?</h4>
                    <div class="content-desc">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </div>

                </div>
            </div>
        </a>

        <a href="#" class="content-box">
            <div class="background"></div>
            <div class="foreground">
                <div class="content-icon">
                    <i class="fa-solid fa-computer icona" aria-hidden="true"></i>
                </div>
                <div class="content-info">
                    <h4 class="content-title">What is Lorem Ipsum?</h4>
                    <div class="content-desc">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </div>

                </div>
            </div>
        </a>

        <a href="#" class="content-box">
            <div class="background"></div>
            <div class="foreground">
                <div class="content-icon">
                    <i class="fa-solid fa-computer icona" aria-hidden="true"></i>
                </div>
                <div class="content-info">
                    <h4 class="content-title">What is Lorem Ipsum?</h4>
                    <div class="content-desc">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </div>

                </div>
            </div>
        </a>

    </div>
</body>

<!-- End Landing Page -->