<header class="header">
    <div class="top_bar">
        <div class="top_bar_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                            <img src="/assets/tunisia.png" class="logo-minestry" alt="University Logo">
                            <div class="spantop">
                                <span>Republic of Tunisia</span>
                                <span>Ministry of Higher Education and Scientific Research</span>
                                <span>Directorate of Technological Studies</span>
                            </div>
                            <ul class="top_bar_contact_list">


                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <div>+21671460100</div>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <div>directeuri7rades@gmail.com</div>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-dark-blue">
        <div class=" container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <img src="/assets/iset1.png" class="logo-iset" alt="University Logo">
                    <div class="desc">

                        <span>Higher Institute of Technological Studies of Rades</span>
                        <span>ISET RADES</span>
                    </div>
                    <li class="nav-item dropdown">
                        <a class="nav-link" routerLink="/home" role="button" aria-haspopup="true"
                            aria-expanded="false"><i class="fa-solid fa-house"></i> home </a>

                    </li>
                    <li class="nav-item dropdown" id="about-us">
                        <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">About us
                            <i class="fa-solid fa-angle-down"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/about"><span>Presentation</span></a>
                            <a class="dropdown-item" routerLink="/orgchart"><span>Organizational chart</span></a>
                            <a class="dropdown-item" routerLink="/team"><span>Our team</span></a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" id="education">
                        <a class="nav-link " role="button" aria-haspopup="true" aria-expanded="false">Departments
                            <i class="fa-solid fa-angle-down"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/it"><span>IT Department</span> </a>
                            <a class="dropdown-item" routerLink="/eco"><span>Economics
                                    and Management Department</span></a>
                            <a class="dropdown-item" routerLink="/mec"><span>Mechanical
                                    Engineering
                                    Department</span></a>
                            <a class="dropdown-item" routerLink="/elec"><span>Electrical
                                    Engineering
                                    Department</span></a>
                            <a class="dropdown-item" routerLink="/gcivil"><span>Civil Engineering
                                    Departmentt</span></a>


                        </div>
                    </li>
                    <li class="nav-item dropdown" id="projects">
                        <a class="nav-link " href="#" role="button" aria-haspopup="true" aria-expanded="false">Projects
                            <i class="fa-solid fa-angle-down"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/nationalp">
                                <span>National <i class="fa-solid fa-angle-right"></i></span>
                                <!---   <div class="projects-dropdown">
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Upcoming Projects</a></li>
                                        <li><a class="dropdown-item" href="#">Previous Projects </a></li>

                                    </ul>
                                </div>-->
                            </a>
                            <a class="dropdown-item" routerLink="/internationalp">
                                <span>International <i class="fa-solid fa-angle-right"></i></span>
                                <!--  <div class="projects-dropdown">
                                    <ul>
                                        <li><a class="dropdown-item" href="#">International
                                                Project 1</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">International
                                                Project 2</a>
                                        </li>

                                    </ul>
                                </div>-->
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" id="campus-life">
                        <a class="nav-link " role="button" aria-haspopup="true" aria-expanded="false">Partnerships <i
                                class="fa-solid fa-angle-down"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/erasmus"><span>Public partnership</span></a>
                            <a class="dropdown-item" routerLink="/sportsActivites"><span>Private partnership</span> </a>
                            <a class="dropdown-item" routerLink="/culturalActivities"><span>International
                                    partnership</span>
                            </a>
                        </div>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false">International
                            relations office <i class="fa-solid fa-link"></i></a>

                    </li>
                    <li class="nav-item dropdown" id="campus-life">
                        <a class="nav-link " role="button" aria-haspopup="true" aria-expanded="false">Campus
                            Life <i class="fa-solid fa-angle-down"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/clubs"><span>Clubs</span></a>
                            <a class="dropdown-item" routerLink="/sportsActivites"><span>Sport Activities</span> </a>
                            <!--  <a class="dropdown-item" routerLink="/culturalActivities"><span>Cultural Activities</span>
                            </a> -->
                        </div>
                    </li>
                    <li class="nav-item dropdown" id="contact">
                        <a class="nav-link " routerLink="/contact" role="button" aria-haspopup="true"
                            aria-expanded="false">Contact us </a>
                        <div class="dropdown-menu">

                        </div>
                    </li>
                </ul>
                <!-- <form class="d-flex">
            <input class="form-control me-sm-2" type="search" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>-->
            </div>
        </div>
    </nav>
</header>