<p>clubs works!</p>
<section>
    <!--Campus life-->
    <div class="flex-container">
        <div class="col col-left">
            <div class="col-copy mr200">
                <h2>FutSal</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="col col-image">
            <svg class="rotating-ring" width="650" height="651" viewBox="0 0 650 651" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="325" cy="325.75" r="324" stroke="#1A1D24" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-dasharray="1 10" />
            </svg>
            <div class="image"></div>
            <div class='circle-container campus_life'>
            </div>
        </div>
    </div>
    <!--Campus life over-->

    <!--Learning and Study-->
    <div class="flex-container">
        <div class="col ">
            <div class="col-copy float-right">
                <h2>BasketBall</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum. </p>
            </div>
        </div>
        <div class="col col-image col-left">
            <svg class="rotating-ring" width="650" height="651" viewBox="0 0 650 651" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="325" cy="325.75" r="324" stroke="#1A1D24" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-dasharray="1 10" />
            </svg>
            <div class="image2"></div>
            <div class='circle-container campus_life'>
            </div>
        </div>
    </div>
    <!--Learning and Study over-->

</section>